html, body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}

.bg-primary{
    background: #0052CC;
    color: #fff;
}
.bg-secondary{
    background: #FF5630;
}

.bg-alternative{
    background: #FFAB00;
}